# Configuration file

####################
# armor
#===================
# Custom armor properties
####################

armor {
}


####################
# blocks
#===================
# Custom block properties
####################

blocks {
}


####################
# entity
#===================
# Custom entity properties
####################

entity {
}


####################
# items
#===================
# Custom item properties
####################

items {
    ####################
    # chocolate_milk
    #===================
    # 
    ####################

    chocolate_milk {
        I:01.ID=16178
        I:02.Damage=0
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=+20.0
        D:"10.Effect Hydration"=+5.0
        D:"11.Effect Temperature Cap"=37.0
    }

    ####################
    # milk_bucket
    #===================
    # 
    ####################

    milk_bucket {
        I:01.ID=335
        I:02.Damage=0
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=+10.0
        D:"10.Effect Hydration"=+10.0
        D:"11.Effect Temperature Cap"=37.0
    }

    ####################
    # milk_bottle
    #===================
    # 
    ####################

    milk_bottle {
        I:01.ID=12270
        I:02.Damage=0
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=+10.0
        D:"10.Effect Hydration"=+10.0
        D:"11.Effect Temperature Cap"=37.0
    }

    ####################
    # coconut_milk
    #===================
    # 
    ####################

    coconut_milk {
        I:01.ID=16125
        I:02.Damage=0
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=+2.0
        D:"10.Effect Hydration"=+7.0
        D:"11.Effect Temperature Cap"=37.0
    }

    ####################
    # milk_flask
    #===================
    # 
    ####################

    milk_flask {
        I:01.ID=6293
        I:02.Damage=0
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=+3.0
        D:"10.Effect Hydration"=+7.0
        D:"11.Effect Temperature Cap"=37.0
    }

}


